:root {
    --primary: #e3a420;
    --secondary: #725ab8;
    --light: #FAFAFB;
    --dark: #12141D;
}

.my-6 {
    margin-top: 6rem;
    margin-bottom: 6rem;
}
.pty-6 {
    padding-top: 6rem;
}
.py-3 {
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.main-color {
    color: var(--primary) !important;
}
.secondary-color {
    color: var(--secondary) !important;
}
.secondary-bg {
    background: var(--secondary) !important;
}
.secondary-border {
    border-color: var(--secondary) !important;
}

/*** Spinner ***/
#spinner {
    opacity: 0;
    visibility: hidden;
    transition: opacity .5s ease-out, visibility 0s linear .5s;
    z-index: 99999;
}

#spinner.show {
    transition: opacity .5s ease-out, visibility 0s linear 0s;
    visibility: visible;
    opacity: 1;
}


/*** Buttons ***/
.btn {
    font-weight: 500;
    transition: .5s;
}

.btn.btn-primary,
.btn.btn-secondary {
    color: #FFFFFF;
}

.btn-square {
    width: 38px;
    height: 38px;
}

.btn-sm-square {
    width: 32px;
    height: 32px;
}

.btn-lg-square {
    width: 48px;
    height: 48px;
}

.btn-square,
.btn-sm-square,
.btn-lg-square {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: normal;
}


/*** Navbar ***/
.navbar .navbar-nav .nav-link {
    padding: 20px 15px;
    color: var(--dark);
    font-size: 18px;
    font-weight: 600;
    outline: none;
}

.navbar .navbar-nav .nav-link:hover,
.navbar .navbar-nav .nav-link.active {
    color: var(--primary);
}

@media (max-width: 991.98px) {
    .navbar .navbar-nav .nav-link  {
        padding: 10px 0;
    }
}

.typed-cursor {
    font-size: 30px;
    color: var(--dark);
}

/*** Home page ***/
#home {
    padding-top: 6rem;
    margin-bottom: 6rem;
    background: url(../img/bg-header.png) left top no-repeat;
}

/*** hobby ***/
.hobby-item img {
    transition: .5s;
}

.hobby-item:hover img {
    opacity: .7;
}

.hobby-item .hobby-text {
    position: absolute;
    left: 0;
    right: 60px;
    bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    opacity: 0;
    transition: .5s;
}

.hobby-item:hover .hobby-text {
    right: 30px;
    opacity: 1;
}

.hobby-item .hobby-text div {
    transition: .5s;
}

.hobby-item:hover .hobby-text div {
    margin-left: 30px;
}

/*** Skills ***/
#skill .progress {
    height: 5px;
    border-radius: 5px;
}

#skill .progress .progress-bar {
    width: 0;
    border-radius: 5px;
    transition: 3s;
}

#skill .nav-pills .nav-link {
    color: var(--dark);
}

#skill .nav-pills .nav-link.active {
    color: #FFFFFF;
    background: var(--secondary) !important;
    border-color: var(--secondary) !important;
}

#skill .tab-content hr {
    width: 30px;
}


/*** Profession ***/
.service-item .bg-icon {
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
}
.bg-icon-1 {
    background: url(../img/bg-icon-1.png) center center no-repeat;
}
.bg-icon-2 {
    background: url(../img/bg-icon-2.png) center center no-repeat;
}
.bg-icon-3 {
    background: url(../img/bg-icon-3.png) center center no-repeat;
}
.bg-icon-4 {
    background: url(../img/bg-icon-4.png) center center no-repeat;
}

/*** Education & University ***/
.university-image {
    max-height: 350px;
}

.akit-icon {
    width: 100px;
    height: 100px;
    display: inline-block;
}
.akit-icon-1 {
    background: url(../img/akit-icon-1.png) center center no-repeat;
}
.akit-icon-2 {
    background: url(../img/akit-icon-2.png) center center no-repeat;
}
.akit-icon-3 {
    background: url(../img/akit-icon-3.png) center center no-repeat;
}
.akit-icon-4 {
    background: url(../img/akit-icon-4.png) center center no-repeat;
}
.akit-icon-5 {
    background: url(../img/akit-icon-5.png) center center no-repeat;
}
.akit-icon-6 {
    background: url(../img/akit-icon-6.png) center center no-repeat;
}
.akit-icon-7 {
    background: url(../img/akit-icon-7.png) center center no-repeat;
}
.akit-icon-8 {
    background: url(../img/akit-icon-8.png) center center no-repeat;
}
